*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    
}

.container{
    background-color:purple;
    padding: 60px;
    align-items: center;
    border-radius: 0 40px 40px 40px;
    text-align: center;
    
}
h2{
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
p, h3{
    margin: 30px;
    color: white;
    
}

#btn{
    padding: 10px;
    color: purple;
    
}

#btn:hover{
    background-color: palevioletred;

}